.excalidraw.ProjectsApp {
  .SearchBox {
    width: 22.5rem;
    max-width: 100%;

    &--narrow {
      width: 18rem;
    }

    @media (max-width: 720px) {
      width: 100%;

      &--narrow {
        width: 100%;
      }
    }
  }
}
